@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-color: black;
    color: white;
}
input{
    color: black;
}